@use "../../styles/partials/palette";

.HeaderButton {
	all: unset;
	cursor: pointer;
	padding: 2rem 0rem;
	color: palette.$primary-colour;

	&__Text {
		margin-left: 0.5rem;

		&:hover {
			text-decoration: underline;
		}
	}

	&__Symbol {
		text-decoration: none;
	}
}
