@use "../../styles/partials/palette";
@use "../../styles/partials/mixin";

.Section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid palette.$light-colour;
    padding-bottom: 1rem;
    gap: 1rem;

    &__List {
        width: 100%;
        margin-left: 1rem;
    }

    &__Link {
        text-decoration: none;
        color: palette.$primary-colour;

        &:hover {
            text-decoration: underline;
        }
    }

    @include mixin.phone {
        flex-direction: column;
        align-items: start;
    }
}
