@use "../../styles/partials/palette";
@use "../../styles/partials/mixin";

.EmployeeCard {
    border-bottom: 1px solid palette.$light-colour;
    padding: 1rem 0rem;
}

.EmployeeSection {
    display: flex;
    justify-content: space-between;

    @include mixin.phone {
        flex-direction: column;
    }
}

.Details {
    display: flex;
    flex-direction: column;
}

.Link {
    text-decoration: none;
    color: palette.$primary-colour;

    &:hover {
        text-decoration: underline;
    }
}
