@use "../../styles/palette";
@use "../../styles/mixin";

.EmployeeCard {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0rem;
	border-bottom: 1px solid palette.$light-colour;
	
	@include mixin.phone {
		flex-direction: column;
	}
}

.Details {
	display: flex;
	flex-direction: column;
}