@use "../../styles/palette";

.EmployeeDetails {
	width: 100%;
}

.Fieldset {
	display: flex;
	flex-direction: column;
	border: none;
}

.Legend {
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.Label {
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.InputText {
	padding: 1rem;
	font-size: 1rem;
	margin-bottom: 1rem;
	border-radius: 0.5rem;
	border: 1px solid;
}

.Select {
	padding: 1rem;
	font-size: 1rem;
	margin-bottom: 1rem;
	border-radius: 0.5rem;
	border: 1px solid;
	cursor: pointer;
}

.DateInput {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;

	&__Section {
		display: flex;
		flex-direction: column;
	}
}

.CheckboxInput {
	cursor: pointer;
	margin-bottom: 0.5rem;
}

.CheckboxLabel {
	cursor: pointer;
	padding-left: 1rem;
	width: 100%;
}

.Checkbox {
	cursor: pointer;
	display: flex;
	align-items: center;
	margin: 0.5rem 0rem;
}

.CheckboxButton {
	cursor: pointer;
	height: 2rem;
	width: 2rem;
}

.RadioGroup {
	cursor: pointer;
	margin-bottom: 0.5rem;
}

.RadioInput {
	cursor: pointer;
	display: flex;
	align-items: center;
	margin: 0.5rem 0rem;
}

.RadioLabel {
	cursor: pointer;
	padding-left: 1rem;
	width: 100%;
}

.RadioButton {
	cursor: pointer;
	height: 2rem;
	width: 2rem;
}

.Tip {
	font-weight: 400;
	color: palette.$dark-colour;
}

.FormButtons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5rem;
	gap: 1rem;
}
