@use "../../styles/partials/palette";
@use "../../styles/partials/mixin";

.EmployeeList {
	width: 100%;
}

.Section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid palette.$light-colour;
	padding-bottom: 1rem;
	gap: 1rem;

	&__Link {
		text-decoration: none;
	}

	@include mixin.phone {
		flex-direction: column;
		align-items: start;
	}
}

.Alert {
	animation: fade 2s linear;
	margin-top: 1rem;
	padding: 1rem 2rem;
	background-color: palette.$lighter-colour;

	&__Error {
		background-color: palette.$error-light;
		color: red;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
