@use "../../styles/partials/palette";
@use "../../styles/partials/mixin";

.EmployeeList {
    width: 100%;
}

.Section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid palette.$light-colour;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;

    &__Link {
        text-decoration: none;
    }

    @include mixin.phone {
        flex-direction: column;
        align-items: start;
    }
}

.Filters {
    margin: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid palette.$light-colour;

    &__Group {
        display: flex;
        background-color: palette.$lighter-colour;
        border-radius: 0.5rem;
        border: 1px solid palette.$dark-colour;
        justify-content: space-between;

        @include mixin.phone {
            flex-direction: column;
        }
    }
}
