@use "../../styles/partials/palette";

.Button {
    all: unset;
    cursor: pointer;
    padding: 0.5rem 0rem;
    border-radius: 0.5rem;
    font-weight: bold;
    background-color: palette.$primary-colour;
    border: 1px solid palette.$tertiary-colour;
    color: white;
    text-align: center;
    width: 100%;
    min-width: 220px;

    &:hover {
        background-color: palette.$secondary-colour;
    }
}

.Secondary {
    background-color: palette.$light-colour;
    color: palette.$text-colour;
    border: 1px solid palette.$dark-colour;

    &:hover {
        background-color: palette.$dark-colour;
        color: white;
    }
}
