@use "../../styles/palette";

.Button {
	all: unset;
	cursor: pointer;
	padding: 0.5rem 2rem;
	border-radius: 0.5rem;
	font-weight: bold;
	background-color: palette.$primary-colour;
	color: white;
	text-align: center;
	width: 180px;

	&:hover {
		background-color: palette.$secondary-colour;
	}
}

.Secondary {
	background-color: palette.$light-colour;
	color: palette.$text-colour;
	border: 1px solid palette.$dark-colour;

	&:hover {
		background-color: palette.$dark-colour;
		color: white;
	}
}
