@use "./styles/palette";
@use "./styles/mixin";

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: palette.$text-colour;
}

.Container {
	width: 60%;

	@include mixin.phone {
		width: 90%;
	}

	@include mixin.tablet {
		width: 85%;
	}

	@include mixin.tablet-landscape {
		width: 80%;
	}

	@include mixin.laptop {
		width: 75%;
	}

	@include mixin.monitor {
		width: 70%;
	}
}
